<div class="card mt-5">
  <!-- 上半部 -->
  <div class="card-top">
    <div class="avatar">
      <img src="https://i.imgur.com/MPLkjto.png" alt="">
    </div>
  </div>
  <!-- 上半部 -->

  <!-- 下半部 -->
  <div class="card-bottom">
    <form action="/" method="POST">
      <div class="form-floating mb-3">
        <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com">
        <label for="email">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        <label for="password">Password</label>
        <i id="checkEye" class="fas fa-eye"></i>
      </div>
      <button class="" type="submit">Sign in</button>
    </form>
  </div>
  <!-- 下半部 -->
</div>