<div class="card mt-5">
  <!-- 上半部 -->
  <div class="card-top">
    <div class="avatar">
      <img src="https://i.imgur.com/iCV78K4.png" alt="">
    </div>
  </div>
  <!-- 上半部 -->

  <!-- 下半部 -->
  <div class="card-bottom">
    <h1>Hello! {{userName}}</h1>
    <a href="/">
      <button class="'btn mt-5">Log Out</button>
    </a>
  </div>
  <!-- 下半部 -->
</div>